[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
devtools = "*"
flake8 = "*"
black = "*"
pytest = "*"
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
boto3 = "*"
graphene = "*"
psycopg2-binary = "*"

[scripts]
black = "black --verbose --target-version py38 . tests"
flake8 = "flake8 Kyral"
test = "python3 -m unittest discover tests *.py"

[requires]
python_version = "3.8"
